@* 

@model IEnumerable<FertilizerShopWeb.Models.Invoice>

<h2>All Invoices Report</h2>

<table border="1" cellpadding="5" cellspacing="0" width="100%">
    <tr>
        <th>Invoice No</th>
        <th>Date</th>
        <th>Total</th>
        <th>Products</th>
    </tr>
    @foreach (var inv in Model)
    {
        <tr>
            <td>@inv.InvoiceNo</td>
            <td>@inv.InvoiceDate.ToString("dd-MM-yyyy")</td>
            <td>@inv.GrandTotal</td>
            <td>
                <ul>
                    @foreach (var item in inv.Items)
                    {
                        <li>@item.Product.ProductName (Qty: @item.Qty)</li>
                    }
                </ul>
            </td>
        </tr>
    }
</table> *@
